.project
.cproject
TAO/
ForceElement.dat
ForceHistory
PostProcessing/
prueba.txt
quadbeads.C
beads
.project_temp
.settings/
Chain/peaks.avi
Chain/Generate1D_Chain.m
Chain/input_Constraints.txt
Chain/input_Data.txt
Chain/input_Elements.txt
Chain/input_Nodes.txt
Chain/input_TargetArea.txt
Data_10_by_11/GenerateInputFiles_Force.m
Data_10_by_11/input_Constraints.txt
Data_10_by_11/input_Data.txt
Data_10_by_11/input_Elements.txt
Data_10_by_11/input_InitialCondition.txt
Data_10_by_11/input_Nodes.txt
Data_10_by_11/input_TargetArea.txt
Data_3_by_2/GenerateInputFiles_Force.m
Data_3_by_2/input_Constraints.txt
Data_3_by_2/input_Data.txt
Data_3_by_2/input_Elements.txt
Data_3_by_2/input_InitialCondition.txt
Data_3_by_2/input_Nodes.txt
Data_3_by_2/input_TargetArea.txt
Hexagonal/hexagonalMATOPT.m
Hexagonal/input_Data.txt
Hexagonal/input_Nodes.txt
Hexagonal/input_TargetArea.txt
Makefile
Makefile.bak
beadsoptions
designparameters.h
mainbeads.C
problemparameters.h
system.C
system.h
Chain/alphaPfitting.m
Chain/borrar.m
Chain/dummy_euler.m~
Hexagonal/hexagonalMATOPT.m~
MMA.o
constitutivelaw.o
mainbeads.o
system.o
vechistory.o
